@page "/About"
@using AddressBook.Services
@inject AddressService objAddressService
<h3>About</h3>
<a class="btn btn-primary" @onclick="@WipeAddresses">Wipe Addresses</a>
<a class="btn btn-primary" @onclick="@LoadDefaultAddresses">Load Default Addresses</a>
<a class="btn btn-primary" @onclick="@WipeCountries">Wipe Country Formats</a>
<a class="btn btn-primary" @onclick="@LoadDefaultCountries">Load Default Country Formats</a>
@code {
    void WipeAddresses()
    {
        objAddressService.DeleteAllAddresses();
    }

    void LoadDefaultAddresses()
    {
        objAddressService.LoadDefaultAddresses();
    }

    void WipeCountries()
    {
        objAddressService.DeleteAllCountryFormats();
    }

    void LoadDefaultCountries()
    {
        objAddressService.LoadDefaultCountryFormats();
    }
}
