@page "/Psearch"
@using AddressBook.Data
@inject AddressService objAddressService
@inject NavigationManager NavigationManager

<h2>Address Partial Search</h2>

@code {
    AddressLine objAddressLine
}
